.card-header {
  &:first-child {
    // intended use case: card with only a header (for example empty related issues)
    &.border-0,
    &.border-bottom-0 {
      @include border-radius($card-inner-border-radius);
    }
  }
}
